.currently-reading h1 { 
    font-size: 42px;
    background: -webkit-linear-gradient(blue, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.currently-reading .currently-reading-text { 
    font-size: 24px;
}

.currently-reading .currently-reading-text .currentword { 
    font-size: 24px;
    color: red;
}
